body{ font-family:BankGothic Lt Bt, arial;
  background-image: url("../img/fon.jpg");
 background-color: #e3e8e6; 
color: #800080; 
}
#main{
  position:absolute;
  left:150px;
  top:50px;
} 
h4{
 	color:red;
	font-size:22px;
}